<%- include ('../partials/header'); -%>
    <div class="container">
        <h2>Acerca de nosotros</h2>
        <p>
            Gracias por visitar nuestra pagina.
        </p>
        <br>
        <p>
            Somos un grupo de personas que nos gusta compartir información de actualidad.
        </p>
        <br>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos incidunt et, modi totam vitae ratione sint,
            magnam deserunt voluptas laudantium aut. Corporis labore provident odio architecto sunt libero commodi
            laboriosam.
        </p>
    </div>
    <%- include ('../partials/footer'); -%>