<%- include ('../partials/header'); -%>
    <div class="container">
        <h2>Contactanos</h2>
        <ul>

            <li>Telefono: +591 66445543</li>
            <li>Email: email@email.com </li>
            <li>Direccion: Av. 6 de Agosto</li>
        </ul>
    </div>
    <%- include ('../partials/footer'); -%>